################
#  General
################
#*.log
*.zip
*.tar
*.gz
*.rar

################
#  Java
################
*.class
#*.jar
*.war
*.ear

################
#  Eclipse
################
bin

# STS (Spring Tool Suite)
.springBeans

################
#  Maven
################
target
#pom.xml.*

################
#  Gradle
################
/.gradle/
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties

################
#  Local Server
################
!local-server
