################
#  General
################
*.log

################
#  Archives
################
*.zip
*.gz
*.tar
*.rar

################
#  Java
################
*.class
*.jar
*.war
*.ear

################
#  Eclipse
################
bin/

################
#  Maven
################
target/

################
#  Gradle
################
/.gradle/
/build/

################
#  STS (Spring Tool Suite)
################
.springBeans
