<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>

<Configuration status="OFF">

    <Properties>
        <Property name="pattern">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5p %C %m%n</Property>
        <Property name="logPath">C:/Users/kengo/git/sample-webapp_jsf-jboss/log</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>

        <RollingFile name="file"
            fileName="${logPath}/application.log"
            filePattern="${logPath}/%d{yyyyMM}/application_%d{yyyyMMdd}_%i.log">

            <PatternLayout pattern="${pattern}" />

            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy min="1" max="10" />
        </RollingFile>

        <RollingFile name="file-db" fileName="${logPath}/db.log"
            filePattern="${logPath}/%d{yyyyMM}/db_%d{yyyyMMdd}_%i.log">

            <PatternLayout pattern="${pattern}" />

            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy min="1" max="10" />
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>

        <Logger name="application" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <!-- <AppenderRef ref="file" /> -->
        </Logger>

        <logger name="log.JpaEclipselinkLogger" level="DEBUG"
            additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file-db" />
        </logger>
    </Loggers>

</Configuration>