<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>

<Configuration status="OFF">

    <Properties>
        <Property name="logPath">C:/Users/kengo/git/sample-webapp_jsf-jboss/log</Property>
        <Property name="basePattern">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5p %C#%M %m%n%ex</Property>
        <Property name="appPattern">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5p %X{contextPath} %X{class}#%X{method} %m%n%ex</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${basePattern}" />
        </Console>

        <RollingFile name="file-system"
            fileName="${logPath}/system.log"
            filePattern="${logPath}/%d{yyyyMM}/system_%d{yyyyMMdd}_%i.zip">

            <PatternLayout pattern="${basePattern}" />

            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy min="1" max="10" />
        </RollingFile>

        <RollingFile name="file-app"
            fileName="${logPath}/application.log"
            filePattern="${logPath}/%d{yyyyMM}/application_%d{yyyyMMdd}_%i.zip">

            <PatternLayout pattern="${appPattern}" />

            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy min="1" max="10" />
        </RollingFile>


        <RollingFile name="file-archi"
            fileName="${logPath}/application.log"
            filePattern="${logPath}/%d{yyyyMM}/application_%d{yyyyMMdd}_%i.zip">

            <PatternLayout pattern="${basePattern}" />

            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy min="1" max="10" />
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="ALL">
            <!-- <AppenderRef ref="console" /> -->
            <AppenderRef ref="file-system" />
        </Root>

        <Logger name="javax.enterprise.resource.webcontainer.jsf" level="INFO" additivity="false">
            <AppenderRef ref="file-archi" />
        </Logger>

        <!-- <Logger name="javax.faces" level="INFO" additivity="false"> -->
        <!-- <AppenderRef ref="file-archi" /> -->
        <!-- </Logger> -->

        <!-- <Logger name="com.sun.faces" level="INFO" additivity="false"> -->
        <!-- <AppenderRef ref="file-archi" /> -->
        <!-- </Logger> -->

        <!-- <Logger name="log.BaseLogger" level="DEBUG" additivity="false"> -->
        <!-- <AppenderRef ref="file-app" /> -->
        <!-- </Logger> -->

        <Logger name="log.ActionLoggingInterceptor" level="DEBUG"
            additivity="false">
            <AppenderRef ref="file-archi" />
        </Logger>

        <!-- MyBatis -->
        <!-- <Logger name="mapper" level="DEBUG" additivity="false"> -->
        <!-- <AppenderRef ref="file-archi" /> -->
        <!-- </Logger> -->

        <!-- JPA -->
        <!-- <logger name="log.JpaEclipselinkLogger" level="DEBUG" -->
        <!-- additivity="false"> -->
        <!-- <AppenderRef ref="file-archi" /> -->
        <!-- </logger> -->

        <!-- モード -->
        <!-- <logger name="mode" level="DEBUG" additivity="false"> -->
        <!-- <AppenderRef ref="file-archi" /> -->
        <!-- </logger> -->
    </Loggers>

</Configuration>