<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- <setting name="logImpl" value="LOG4J2" /> -->
        <setting name="logImpl" value="SLF4J" />
    </settings>

    <environments default="postgres">
        <environment id="postgres">
            <transactionManager type="MANAGED" />
            <dataSource type="JNDI">
                <property name="data_source" value="java:/PostgresDS" />
            </dataSource>
        </environment>

        <environment id="sqlite">
            <transactionManager type="MANAGED" />
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC" />
                <property name="url"
                    value="jdbc:sqlite:C:\Users\kengo\git\sample-webapp_jsf-jboss\db\user.db" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="sql/UserMapper.xml" />
        <mapper resource="sql/RoleMapper.xml" />
        <mapper resource="sql/CodeMapper.xml" />
    </mappers>

</configuration>