<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<environments default="sample_id">
		<environment id="sample_id">
<!-- 			<transactionManager type="MANAGED" /> -->
<!-- 			<dataSource type="JNDI"> -->
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.sqlite.JDBC" />
				<property name="url"
					value="jdbc:sqlite:C:\Users\kengo\git\sample-webapp_jsf-jboss\db\user.db" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="sql/UserMapper.xml" />
	</mappers>
</configuration>