<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J2" />
    </settings>

    <environments default="postgres">
        <environment id="postgres">
            <transactionManager type="MANAGED" />
            <dataSource type="JNDI">
                <property name="data_source" value="java:/PostgresDS" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="sql/UserMapper.xml" />
    </mappers>

</configuration>