<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>BootsFaces_THEME</param-name>
        <param-value>cyborg</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>

        <cookie-config>
            <!-- HTTPSが必要なのは外部～Webサーバまでで、そこから先（APサーバ）HTTPで良いため -->
            <http-only>true</http-only>
        </cookie-config>

        <!-- 初回アクセス時に、URLにセッションIDが表示されるのを防ぐため -->
        <tracking-mode>COOKIE</tracking-mode>

    </session-config>

    <!-- URLにディレクトリ名のみ指定（ファイル名を指定しない）があったら、このページを表示する -->
    <welcome-file-list>
        <welcome-file>top.xhtml</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>javax.faces.application.ProtectedViewException</exception-type>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/session-error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error-forbidden.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.xhtml</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Sample Pages</web-resource-name>
            <url-pattern>/application/*</url-pattern>
            <!-- <http-method>GET</http-method> 記述していない場合、全てのHTTPメソッドが対象になる -->
        </web-resource-collection>

        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>

        <!-- <user-data-constraint> -->
        <!-- <transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
        <!-- </user-data-constraint> -->
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Sample Realm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>*</role-name>
    </security-role>


</web-app>
